{# templates/partials/ad_railway.html #}
<a href="https://railway.com?referralCode=ZIdvo-" target="_blank" rel="noopener" class="house-ad house-ad--railway">
  <div class="house-ad__eyebrow">Deploy smarter</div>
  <div class="house-ad__logo">
    <svg width="20" height="20" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M8.07 63.6C3.38 52.7 3.72 39.5 10.4 28.9 20.2 13.4 38.7 5.8 56.8 9.2l2.1.4-9.6 23.4c-7.9-.8-15.8 3.4-19.4 10.8L8.1 63.6h-.03zM91.6 72.7C86.7 84 75.8 91.8 63.4 93.5c-12.4 1.7-24.7-3.3-32.5-13L49.5 57c3.5 4.6 9.6 6.7 15.4 5.2l26.7 10.5zm-68-52.9C31.7 9.4 44.8 4.8 57.8 6.7c13 1.9 24 10 29.5 21.8L68.8 41.8C66.1 35.3 59.7 31 52.7 31c-1.5 0-3 .2-4.4.5L23.6 19.8z" fill="white"/>
    </svg>
    <span>Railway</span>
  </div>
  <p class="house-ad__text">Ship your app in minutes. Zero DevOps headaches.</p>
  <div class="house-ad__cta">Start free →</div>
</a>