{# project/templates/dashboard/category_delete.html #}
{% extends 'base.html' %}
{% load static %}
{% block title %}Delete category — NeverDue{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/pages/categories.css' %}">
{% endblock %}

{% block content %}
{% include 'partials/confirm_delete.html' with page_title="Delete category?" message=category.name|add:' will be permanently deleted. All events in this category will also be deleted.' cancel_url=categories_url %}
{% endblock %}