.history/
.env
*.db
*.sqlite3

# Python
__pycache__/
*.py[cod]
*.pyo
.Python
env/
venv/
.venv/

# Static collected files
project/static/cache/*
!project/static/cache/.gitkeep

# Media
project/media/

# Django
*.log

# OS
.DS_Store
Thumbs.db

# Temp files
tmp/

# Database backups (contain secrets)
db_backup*.json
*.json
temp/
*.tmp
*.temp

# Dev
Makefile